        * {
            padding: 0 auto;
            margin: 0 auto;
            box-sizing: border-box;
        }
        /* #nav {
    display: inline-block;
} */
        
        .nav {
            display: flex;
            position: absolute;
            top: 32px;
            left: 40%;
            transform: translate(-50%, -50%);
        }
        
        .nav li a {
            color: #fff;
            text-decoration: none;
            /* line-height: 64px; */
            font-size: 14px;
            font-family: Roboto;
            color: #565E6CFF;
            padding: 0 16px;
        }
        
        .nav .nav_icon-down {
            font-size: 10px;
            padding-left: 15px;
        }
        
        #header {
            border-radius: 4px;
            position: fixed;
            width: 1440px;
            height: 64px;
            background-color: rgb(0, 0, 0);
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
        
        .nav li:hover a {
            display: inline-block;
            color: #00BBAAFF;
            font-weight: 600;
        }
        
        .user_account li {
            float: right;
            display: inline-block;
        }
        
        .user_account li button {
            float: right;
            margin-top: 12px;
            line-height: 36px;
            width: 80px;
            background-color: black;
            border: none;
            color: #00BBAAFF;
        }
        
        .user_account li:hover button {
            background-color: #00BBAAFF;
            color: #fff;
            border-radius: 4px;
        }
        
        #content {
            background: #DEE1E6FF;
            width: 1440px;
            height: 1020px;
        }
        
        .content_title {
            margin-top: 64px;
            text-align: center;
            /* left: 194px; */
            /* position: absolute; */
        }
        
        .content1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 56px;
            line-height: 78px;
            color: #8510D8FF;
            display: inline-block;
            padding-top: 96px;
            /* background: rgb(75, 139, 41); */
            /* padding-left: 194px; */
            /* tertiary1-500 */
        }
        
        .content2 {
            /* left: 710x; */
            font-family: Arial, Helvetica, sans-serif;
            /* Heading */
            font-size: 56px;
            line-height: 78px;
            color: #00BBAAFF;
            display: inline-block;
            padding-top: 96px;
            /* background: rgb(18, 89, 212); */
            /* primary-500 */
        }
        
        .content_title_cmt {
            text-align: center;
            font-family: Roboto;
            font-size: 23px;
            line-height: 30px;
            color: #171A1FFF;
        }
        
        .sign_now {
            height: 52px;
            text-align: center;
            padding-top: 20px;
        }
        
        .btn_sign_now {
            width: 200px;
            height: 52px;
            font-family: Roboto;
            /* Body */
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFFFF;
            /* white */
            background: #00BBAAFF;
            border: 0.2px;
        }
        
        .btn_Request_demo {
            width: 200px;
            height: 52px;
            font-family: Roboto;
            font-size: 18px;
            line-height: 28px;
            color: #00BBAAFF;
            background: #00000000;
            border: 0.2px;
        }
        
        .btn_sign_now:hover {
            background: rgb(32, 175, 122);
        }
        
        .btn_Request_demo:hover {
            background: rgb(198, 198, 198);
            color: #FFFFFFFF;
        }
        
        .img_page1 {
            width: 1176px;
            height: 600px;
            margin-top: 50px;
            border-radius: 8px;
            /* border-xl */
        }
        
        .container {
            width: 1440px;
            height: 388px;
            background: #000000FF;
        }
        
        .container_text {
            font-family: Archivo;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFFFF;
            margin-top: 96px;
            margin-left: 559px;
            position: absolute;
            /* background-color: #fff; */
            /* white */
        }
        
        .container_img {
            position: absolute;
        }
        
        .nav_img {
            display: flex;
            margin-top: 152px;
            margin-left: 115px;
            /* background-color: #fff; */
        }
        
        .container_img1 {
            width: 235px;
            height: 140px;
            border-radius: 0px;
        }
        
        .contaner_product {
            background: #DEE1E6FF;
            width: 1440px;
            height: 1500px;
            /* margin-bottom: 96px; */
        }
        
        .contaner_produc1 {
            width: 1176px;
            /* margin: 0px auto; */
            margin-top: 96px;
        }
        
        .contaner_product1_con {
            width: 1176px;
            /* background-color: red; */
            display: flex;
            justify-content: space-between;
            padding-top: 96px;
        }
        
        .contaner_product_title_1 {
            /* background-color: rgb(167, 224, 92); */
            margin-left: -20px;
            width: 390px;
            /* padding-top: 88px; */
        }
        
        .text_feature {
            width: 156px;
            font-family: Archivo;
            /* Heading */
            font-size: 40px;
            line-height: 56px;
            color: #171A1FFF;
            padding-top: 88px;
            margin: 0px;
            padding-left: 20px;
        }
        
        .text_feature_content {
            width: 353px;
            font-family: Roboto;
            /* Body */
            font-size: 20px;
            line-height: 28px;
            color: #171A1FFF;
        }
        
        .product_contatiner_img1 {
            margin-left: 135px;
            background: #1673FFFF;
            /* secondary-400 */
            border-radius: 4px;
            /* border-m */
            box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
        }
        
        .product_img1 {}
        
        .Try_now_learn_more {
            height: 52px;
            /* text-align: center; */
            padding-left: 20px;
            padding-top: 20px;
        }
        
        .btn_try_now {
            width: 112px;
            height: 44px;
            font-family: Roboto;
            /* Body */
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFFFF;
            /* white */
            background: #00BBAAFF;
            border: 0.2px;
        }
        
        .btn_learn_more {
            width: 118px;
            height: 44px;
            font-family: Roboto;
            font-size: 16px;
            line-height: 26px;
            color: #00BBAAFF;
            background: #00000000;
            border: 0px;
        }
        
        .btn_try_now:hover {
            background: rgb(32, 175, 122);
        }
        
        .btn_learn_more:hover {
            background: rgb(198, 198, 198);
            color: #FFFFFFFF;
        }
        
        .container_img2 {
            width: 235px;
            height: 140px;
            border-radius: 0px;
        }
        
        .contaner_produc2 {
            width: 1176px;
            /* margin: 0px auto; */
            margin-top: 96px;
        }
        
        .contaner_product2_con {
            width: 1176px;
            /* background-color: red; */
            display: flex;
            justify-content: space-between;
            padding-top: 96px;
        }
        
        .contaner_product_title_2 {
            /* background-color: rgb(167, 224, 92); */
            /* margin-left: -5px; */
            width: 390px;
            /* padding-top: 88px; */
        }
        
        .text_feature {
            width: 156px;
            font-family: Archivo;
            /* Heading */
            font-size: 40px;
            line-height: 56px;
            color: #171A1FFF;
            padding-top: 88px;
            margin: 0px;
            padding-left: 20px;
        }
        
        .text_feature_content {
            width: 353px;
            font-family: Roboto;
            /* Body */
            font-size: 20px;
            line-height: 28px;
            color: #171A1FFF;
        }
        
        .product_contatiner_img2 {
            margin-left: -5px;
            background: #EB8E23FF;
            /* secondary-400 */
            border-radius: 4px;
            /* border-m */
            box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
        }
        
        .container_img3 {
            width: 235px;
            height: 140px;
            border-radius: 0px;
        }
        
        .contaner_produc3 {
            width: 1176px;
            /* margin: 0px auto; */
        }
        
        .contaner_product3_con {
            width: 1176px;
            /* background-color: red; */
            display: flex;
            justify-content: space-between;
            padding-top: 140px;
        }
        
        .contaner_product_title_3 {
            /* background-color: rgb(167, 224, 92); */
            margin-left: -20px;
            width: 390px;
            /* padding-top: 88px; */
        }
        
        .product_contatiner_img3 {
            margin-left: 135px;
            background: #54D3ECFF;
            /* secondary-400 */
            border-radius: 4px;
            /* border-m */
            box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
        }
        
        .contaner_integrations {
            width: 1440px;
            height: 534px;
            background: rgb(22, 22, 22);
        }
        
        .contaner_integrations_title {
            padding: auto;
            font-family: Archivo;
            padding-top: 96px;
            /* Heading */
            font-size: 48px;
            line-height: 68px;
            color: #F3F4F6FF;
            /* neutral-200 */
            text-align: center;
        }
        
        .circle-left {
            width: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .circle-left>button {
            border: none;
            background-color: rgb(22, 22, 22);
            color: #898989;
            font-size: 24px;
        }
        
        .circle-left>button>i:hover {
            font-size: 28px;
        }
        
        .circle-right {
            width: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .circle-right>button {
            border: none;
            background-color: rgb(22, 22, 22);
            color: #898989;
            font-size: 24px;
        }
        
        .circle-right>button>i:hover {
            font-size: 28px;
        }
        
        .contaner_integrations_titles {}
        
        .contener_integrations_select {
            width: 1026px;
            height: 250px;
            display: flex;
            justify-content: space-evenly;
        }
        
        .contener_integrations_selects {
            width: 318px;
            height: 250px;
            background: #171A1FFF;
            /* neutral-900 */
            border-radius: 8px;
            /* border-xl */
            box-shadow: 0px 0px 1px
        }
        
        .contener_getstarted {
            width: 1440px;
            height: 384px;
            background: rgb(247, 243, 243);
            display: flex;
        }
        
        .contener_getstarteds {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .contener_getstarteds_content {
            background-color: #00BBAAFF;
            width: 588px;
            height: 384px;
            padding-left: 64px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        
        .contener_getstarteds_title {
            padding-top: 64px;
            color: white;
            font-size: 48px;
            font-family: Archivo;
        }
        
        .contener_getstarteds_cmt {
            padding-top: 21px;
            padding-right: 21px;
            font-family: Roboto;
            /* Body */
            font-size: 20px;
            line-height: 28px;
            color: #FFFFFFFF;
        }
        
        .contener_getstarteds_btn {
            padding-top: 37px;
        }
        
        .btn_sign_up_now {
            width: 123px;
            height: 52px;
            font-size: 18px;
            line-height: 28px;
            color: #323842FF;
            /* neutral-700 */
            background: #FFFFFFFF;
            /* white */
            opacity: 1;
            border: none;
            border-radius: 4px;
            /* border-m */
            /* padding-top: 57px; */
            /* padding-left: 64px; */
        }
        
        .contener_getstarteds_btn :hover {
            background: rgb(61, 244, 174);
        }
        
        .contener_getstarted_img {
            height: 384px;
        }
        
        .container_cmt {
            width: 1440px;
            height: 512px;
            width: 1440px;
            height: 512px;
            background: #DEE1E6FF;
            /* neutral-300 */
            border-radius: 0px;
        }
        
        .container_img_cmt {
            padding-top: 96px;
            padding-left: 144px;
            display: flex;
        }
        
        .container_img {
            width: 664px;
            margin-top: -10px;
            margin: 0px;
        }
        
        .container_content {
            width: 776px;
            margin-left: 370px;
            margin-top: 56px;
        }
        
        .container_cmts {
            width: 776px;
            font-family: Roboto;
            /* Body */
            font-size: 20px;
            line-height: 30px;
            color: #171A1FFF;
            /* neutral-900 */
            margin: 0px;
        }
        
        #footer {
            width: 1440px;
            background-color: #000000FF;
            padding-top: 100px;
        }
        
        #footer .footer_main {
            width: 1175px;
            margin: auto;
        }
        
        .footer_top {
            display: flex;
            justify-content: space-around;
        }
        
        .footer_top .about_footer {
            display: flex;
            padding-left: 290px;
            padding-bottom: 85px;
        }
        
        .footer_top .about_footer ul {
            padding-right: 50px;
            font-family: Arial, Helvetica, sans-serif;
            color: #9095A0FF;
        }
        
        .footer_top .about_footer li {
            list-style: none;
            line-height: 35px;
            font-size: 14px;
        }
        
        .about_footer .sub_nav {
            display: flex;
            align-items: center;
        }
        
        .about_footer .sub_nav>p:nth-child(2) {
            background-color: #EB8E23;
            height: 25px;
            color: #fff;
            margin-left: 5px;
            margin-top: 2px;
            padding: 0 5px;
            text-align: start;
            border-radius: 15px;
            width: 56px;
            display: flex;
            align-items: center;
        }
        
        .about_footer li>h2 {
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 5px;
            color: #DEE1E6FF;
        }
        
        .footer_top .sub-email h2 {
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 6px;
            color: #00BBAAFF;
        }
        
        .footer_top .sub-email p {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 20px;
            color: darkgrey;
        }
        
        .footer_top .sub-email .button-email {
            background-color: #000000FF;
            display: flex;
        }
        
        .button-email .email-search {
            border: 1px solid #9095A0;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        
        .email-search {
            display: flex;
        }
        
        .email-search>button {
            border: none;
            background-color: #000000FF;
            color: #9095A0;
            padding-left: 5px;
        }
        
        .sub-email .button-email input {
            padding: 10px 60px 10px 10px;
            border: none;
            background-color: #000000FF;
            padding: 0px;
        }
        
        .sub-email .button-email .sub {
            padding: 10px 20px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border: none;
            background-color: #00BBAAFF;
            color: #fff;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
        }
        
        .footer_main .footer_bottom {
            width: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 25px;
        }
        
        .footer_bottom select {
            margin-left: 10px;
            padding: 8px 50px 8px 12px;
            background-color: #000000FF;
            color: #9095A0;
            font-family: Arial, Helvetica, sans-serif;
            border: 1px solid #9095A0;
            border-radius: 5px;
        }
        
        .footer_bottom .text-der {
            display: flex;
            color: rgb(136, 134, 134);
            font-size: 14px;
        }
        
        .footer_bottom .text-der ul {
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .text-der ul li {
            margin-left: 20px;
        }
        /* .footer_bottom .img-footer img {
            padding-right: 20px;
        } */
        
        .text-der {
            margin-right: -0.5px;
        }
        
        .img-footer {
            margin-right: -5px;
        }
        
        .img-footer>img {
            padding-left: 14px;
        }