* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    width: 1440px;
    height: 64px;
    background-color: black;
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* #nav {
    display: inline-block;
} */

.nav {
    display: flex;
    position: absolute;
    top: 32px;
    left: 40%;
    transform: translate(-50%, -50%);
}
.nav li a {
    color: #fff;
    text-decoration: none;
    /* line-height: 64px; */
    font-size: 14px;
    font-family: Roboto;
    color: #565E6CFF;
    padding: 0 16px;
}

.nav .nav_icon-down {
    font-size: 10px;
    padding-left: 15px;
}

.nav li:hover a {
    display: inline-block;
    color: #00BBAAFF;
    font-weight: 600;

}

.user_account li {
    float: right;
   display: inline-block;
}

.user_account li button {
    float: right;
    margin-top: 12px;
    line-height: 36px;
    width: 80px;
    background-color: black;
    border: none;
    color: #00BBAAFF;
}

.user_account li:hover button {
    background-color: #00BBAAFF;
    color: #fff;
    border-radius: 4px;
}

#content {
    width: 1440px;
    background-color: #DEE1E6;

}

#content .conent_section {
    width: 1175px;
    margin: auto;
    padding-top: 64px;
}

.conent_section .title-support {
    text-align: center;
    padding: 96px 0 26px;
    font-size: 48px;
    line-height: 68px;
    font-family: Arial, Helvetica, sans-serif;
    color: #323842;
}

.conent_section .box-search {
    margin: auto;
    padding: 14px 0;
    width: 589px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 23px;
    margin-bottom: 64px;
}

.box-search .bt_search{
    padding-top: -5px;
    padding-right: 10px;
    border: none;
    background-color: #DEE1E6;
    font-size: 16px;
    color: #b7b8bb;

}
.box-search input{
    border: none;
    background-color: #DEE1E6;
    font-size: 18px;
}

.container {
    width: 100%;
    display: flex;
}

.container .container_box{
    background-color: #171A1FFF;
    width: 276px; 
    height: 322px; 
    border-radius: 7px;
    margin-right: 25px;
    text-align: center;
    padding: 33px;

}

.container_box h3{
    padding-top: 22px;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.container_box .derciption{
    padding-top: 20px;
    font-size: 15px;
    color: #9095A0;
    line-height: 26px;
    font-family: Arial, Helvetica, sans-serif;

}

.container_box .Export {
    padding-top: 25px;

}

.container_box .Export > a{
    text-decoration: none;
    font-size: 14px;
    color: #00BBAAFF;
    font-family: Arial, Helvetica, sans-serif;
}

.container_box .Export > a > i{
   font-size: 11px;
}


