* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#web {
    width: 1440px;
    margin: 0 auto;
}

#header {
    width: 1440px;
    height: 64px;
    background-color: black;
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;

}

/* #nav {
    display: inline-block;
} */

.nav {
    display: flex;
    position: absolute;
    top: 32px;
    left: 40%;
    transform: translate(-50%, -50%);
}
.nav li a {
    color: #fff;
    text-decoration: none;
    /* line-height: 64px; */
    font-size: 14px;
    font-family: Roboto;
    color: #565E6CFF;
    padding: 0 16px;
}

.nav .nav_icon-down {
    font-size: 10px;
    padding-left: 15px;
}

.nav li:hover a {
    display: inline-block;
    color: #00BBAAFF;
    font-weight: 600;

}

.user_account li {
    float: right;
   display: inline-block;
}

.user_account li button {
    float: right;
    margin-top: 12px;
    line-height: 36px;
    width: 80px;
    background-color: black;
    border: none;
    color: #00BBAAFF;
}

.user_account li:hover button {
    background-color: #00BBAAFF;
    color: #fff;
    border-radius: 4px;
}

#content {
    width: 1440px;
    background-color: #DEE1E6;

}

#content .conent_banner {
    width: 1175px;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 96px;
}

.conent_banner .title-support {
    text-align: center;
    padding: 96px 0 26px;
    font-size: 48px;
    line-height: 68px;
    font-family: Arial, Helvetica, sans-serif;
    color: #323842;
}

.conent_banner .box-search {
    margin: auto;
    padding: 14px 0;
    width: 589px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 23px;
    margin-bottom: 64px;
}

.box-search .bt_search{
    padding-top: -5px;
    padding-right: 10px;
    border: none;
    background-color: #DEE1E6;
    font-size: 16px;
    color: #b7b8bb;

}
.box-search input{
    border: none;
    background-color: #DEE1E6;
    font-size: 18px;
}

.container {
    width: 100%;
    display: flex;
    
}

.container .container_box{
    background-color: #171A1FFF;
    width: 276px; 
    height: 322px; 
    border-radius: 7px;
    margin-right: 25px;
    text-align: center;
    padding: 33px;
}

.container_box:nth-child(4) {
    margin-right: -25px;
}

.container_box h3{
    padding-top: 22px;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.container_box .derciption{
    padding-top: 20px;
    font-size: 15px;
    color: #9095A0;
    line-height: 26px;
    font-family: Arial, Helvetica, sans-serif;

}

.container_box .Export {
    padding-top: 25px;

}

.container_box .Export > a{
    text-decoration: none;
    font-size: 14px;
    color: #00BBAAFF;
    font-family: Arial, Helvetica, sans-serif;
}

.container_box .Export > a > i{
   font-size: 11px;
}

#content .content_main {
    width: 1175px;
    margin: auto;
    display: flex;
}

.content_main section {
    width: 68.5%;
}

section .active_ques-ask {
    display: flex;
    justify-content: space-between;
}

.active_ques-ask .active_feedback {
    display: flex;
}

.active_feedback p:nth-child(1) {
    margin-top: 10px;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #00BBAAFF;
    border-bottom: 3px solid #00BBAAFF;
}

.active_feedback p:nth-child(2) {
    margin-top: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}
.active_feedback p:nth-child(2):hover {
    color: #00BBAAFF;
    border-bottom: 3px solid #00BBAAFF;
}

.active_ques-ask button {
    padding: 0 15px;
    color: #fff;
    background-color: #00BBAAFF;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

section .feedback-cotent {
    display:  flex;
    width: 100%;
    margin-top: 20px;
    background-color: #000000FF;
    border-radius: 5px;
}

.feedback-cotent img {
    padding: 15px;
}

.feedback-cotent .feedback {
    font-family: Arial, Helvetica, sans-serif;
    color: #DEE1E6;
}

.feedback .user_name {
    display: flex;
    align-items: center;
}

.user_name span{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 0 0 10px;
    font-size: 12px;
    color: rgb(107, 107, 107);
}

.feedback h5 {
    padding-top: 15px;
    font-size: 14px;
}

.feedback p{
    padding-top: 13px;
    font-size: 14px;
    color: #6E7787FF;
    line-height: 1.5;
}

.feedback .icon-like-chat {
    display: flex;
    margin-left: -15px;
}

section .bt_seemore {
    margin-top: 20px;
    padding: 12px 16px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DEE1E6;
    border: 1px solid #00BBAAFF;
    border-radius: 5px;
    color: #00BBAAFF;
    cursor: pointer;

}

.content_main aside {
    width: 32.5%;
    margin-top: 61px;
    padding: 5px 0 25px 25px;
}

.tag .tag-container {
    display: flex;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}

.tag-item {
    border: 1px solid #00BBAAFF;
    border-radius: 20px;
    padding: 5px 6px;
    text-align: center;
    margin-right: 5px;
}

.tag-item > a{
    text-decoration: none;
    color: #00BBAAFF;
}

aside .view-box {
    background-color: #000000FF;
    margin-top: 15px;
    border-radius: 4px;
    text-align: center;
    padding: 25px;
}

.view-box >img{
    width: 100%;
    padding-bottom: 25px;
}
.view-box >h2{
    color: #fff;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.view-box >p{
   font-size: 14px;
   color: #fff;
   font-family: Arial, Helvetica, sans-serif;
   padding: 25px 45px 20px;
   line-height: 1.5;
}
.view-box >button{
    background-color: #00BBAAFF;
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    cursor: pointer;
}

#content .content-footer{
    width: 100%;
    background-color: #000000FF;
    padding: 94px 132px;
    border-bottom: 1px solid #6E7787FF;
}

.content-footer .get-started {
    display: flex;
    background-color: #00BBAAFF;
    justify-content: space-between;
    border-radius: 5px;
}

.get-started .text-get {
    margin-left: 20px;
    width: 48%;
    padding-top: 94px;
    padding-left: 45px;
    color: #fff;
}

.get-started .text-get .title_get {
    font-size: 48px;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
}

.get-started .text-get>p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
    width: 655px;
    color: rgb(29, 28, 28);
    font-family: Arial, Helvetica, sans-serif;
}

.get-started .text-get>input {
    padding: 15px 20px;
    margin-top: 25px;
    background-color: #fff;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

}

#footer {
    width: 100%;
    background-color: #000000FF;
    padding-top: 100px;

}

#footer .footer_main {
    width: 1175px;
    margin: auto;
}

.footer_top {
    display: flex;
    justify-content: space-around;
}

.footer_top .about_footer {
    display: flex;
    padding-left: 290px;
    padding-bottom: 85px;
}

.footer_top .about_footer ul {
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #9095A0FF;
}

.footer_top .about_footer li {
    list-style: none;
    line-height: 35px;
    font-size: 14px;
}

.about_footer .sub_nav{
    display: flex;
    align-items: center;
}

.about_footer .sub_nav >p:nth-child(2){
    background-color: #EB8E23;
    height: 25px;
    color: #fff;
    margin-left: 5px;
    margin-top: 2px;
    padding: 0 5px;
    text-align: start;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.about_footer li > h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    color: #DEE1E6FF;
}

.footer_top .sub-email h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 6px;
    color: #00BBAAFF;
}

.footer_top .sub-email p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    color: darkgrey;
}

.footer_top .sub-email .button-email {
    background-color: #000000FF;
    display: flex;
}

.button-email .email-search{
    border: 1px solid #9095A0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.email-search > button{
    border:none;
    background-color: #000000FF;
    color: #9095A0;
    padding-left: 10px;
}

.sub-email .button-email input {
    padding: 10px 60px 10px 10px;
    border: none;
    background-color: #000000FF;
}

.sub-email .button-email .sub {
    padding: 10px 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    background-color: #00BBAAFF;
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}

.footer_main .footer_bottom {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
}

.footer_bottom select {
    margin-left: 10px;
    padding: 8px 50px 8px 12px;
    background-color: #000000FF;
    color: #9095A0;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #9095A0;
    border-radius: 5px;
}

.footer_bottom .text-der {
    display: flex;
    color: rgb(136, 134, 134);
    font-size: 14px;
}

.footer_bottom .text-der ul {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.text-der ul li {
    margin-left: 20px;
}

.footer_bottom .img-footer img {
    padding-right: 20px;
}